<section class="features" id="features">
<h2>Features to Cover All of Your Needs</h2>
	<div class="feature">
		<h3>Connect with your customers with "Tap to Call"</h3>
	</div>
	<div class="feature">
		<h3>Create mobile sites for iOS, Android, Tablets and more.</h3>
	</div>
	<div class="feature">
		<h3>Include an image gallery</h3>
	</div>
	<div class="feature">
		<h3>Use your own custom domain!</h3>
	</div>
</section>
<!-- shared/features
	- Site Creator
		> Create Mobile Sites for any Format
		> Maps with GPS
		> Tap to Call
		> Use your own Domain
		> Many templates to choose from
		> Easy to Use!
		> Lead Generation Forms
-->
