<section class="basic_price_box">
	<div class="price_feature_list">
		<div class="price_feature">
			<div class="price_emtpy">&nbsp;</div>
		</div>
		<div class="price_feature">
			Price:
		</div>
		<div class="price_feature">
			Maximum Sites:
		</div>
		<div class="price_feature">
			Custom Domain:
		</div>
		<div class="price_feature">
			Technical Support:
		</div>
		<div class="price_feature">
			&nbsp;
		</div>
	</div>
	<% 2.times do %>
	<div class="price_compare_list">
		<div class="price_compare">
			<div class="price_head">Basic (Single Site)</div>
		</div>
		<div class="price_compare">
			$47.00/month or $119.00/year
		</div>
		<div class="price_compare">
			1 Site
		</div>
		<div class="price_compare">
			m.octomobi.com/(your_brand)
		</div>
		<div class="price_compare">
			Unlimited Email Support
		</div>
		<div class="price_compare">
			<%= link_to "Try it now!", "#" %>
		</div>
	</div>
	<% end %>
</section>
