<h2>Dashboard</h2>
<ul>
	<li>List Current User's Sites</li>
	<ul>
		<li>List visits for each site</li>
	</ul>
	<li>Display of Current User's Subscription Status</li>
	<ul>
		<li>Current Subscription Type</li>
		<li>Subscription Expiry Date</li>
		<li>List of available features</li>
		<ul>
			<li>How many sites available</li>
			<li>Which Features are Limited?</li>
		</ul>
	</ul>
</ul>
